.box{
    margin: 2% auto;
    width: 600px;
    height: 400px;
    background-color: #ddd;
}

body {
    font-family: Helvetica;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.axisText{
    font-size: 15px;
}

.title{
    font-size: 20px;
}

.area{
    stroke: none;
}